﻿<div data-bind="if: chatEnabled">
    <div class="control-group">
        <div class="controls">
            <ul data-bind="foreach: users" class="user-list">
                <li data-bind="text: name" class="btn"></li>        
            </ul>
            <input type="text" id="Message" class="span4" placeholder="Enter a message..." />
            <br />
            <a id="Send" class="btn">Send</a>
            <p class="help-block"></p>
            <ul data-bind="foreach: messages" class="message-list">
                <li data-bind="html: renderMessage"></li>
            </ul>
        </div>
    </div>
</div>

<div data-bind="ifnot: chatEnabled">
    <div class="control-group">
        <div class="controls">
            <p>Please login to chat</p>
            <input type="text" id="ChatLoginInput" class="span4" placeholder="What's your name?" />
            <br />
            <a id="ChatLoginButton" class="btn add-on">Login</a>
            <p class="help-block"></p>
        </div>
    </div>
</div>