﻿@model Hackathon.Models.View.ChatViewModel
@{
    ViewBag.Title = "...";
}

<div class="row-fluid">

    <div class="span4 chat-col">
        
        <div class="well">
        
            <h2>Chat</h2>
    
            @Html.Partial("ChatFeed")

        </div>

    </div>

    <div class="span4 twitter-col">
        
        <div class="well">

            <h2>Twitter</h2>
    
            @Html.Partial("TwitterFeed")

        </div>
    
    </div>

    <div class="span4 yammer-col">
        
        <div class="well">
        
            <h2>StackOverflow</h2>
    
            @Html.Partial("StackFeed")

        </div>
    
    </div>

</div>