﻿<p>Search for a question</p>
<input type="text" id="SearchInput" class="span4" placeholder="Searching for?" />
<br />
<a id="SeachGo" class="btn">Search</a>
<p class="help-block"></p>
<ul data-bind="foreach: questions" class="question-list">
    <li data-bind=""></li>
</ul>