﻿@model Hackathon.Models.View.ChatViewModel

<div data-bind="if: twitterLoading">

    <br />
    <img src="@Url.Content("~/Content/images/loading.gif")" alt="Loading!" />

</div>

<div data-bind="ifnot: twitterLoading">

    <div data-bind="if: twitterEnabled">
        <ul data-bind='foreach: tweets' class="twitter-feed">
            <li>
                <div class="avatar" data-bind="html: renderImage"></div>
                <div class="name" data-bind="html: renderLink"></div>
                <div class="text" data-bind="html: renderText"></div>
            </li>
        </ul>
        <a id="LoadMoreTweets" class="btn btn-large">Load more tweets</a>
        <img id="LoadingMore" class="loading" src="@Url.Content("~/Content/images/loading.gif")" alt="Loading!" />
    </div>

    <div data-bind="ifnot: twitterEnabled">
        <div class="control-group">
            <div class="controls">
                <p>You need to @Html.ActionLink("enable Twitter.", "Authorize", "Twitter", null, new { target = "_blank" })</p>
                <input type="text" id="AuthorizeInput" class="span4" placeholder="Enter Twitter verification code..." />
                <br />
                <a id="AuthorizeButton" class="btn">Submit</a>
                <img id="LoadingLogin" class="loading" src="@Url.Content("~/Content/images/loading.gif")" alt="Loading!" />
                <p class="help-block"></p>
            </div>
        </div>
    </div>

</div>