﻿body {}

.container-fluid { padding-top: 20px }

.container-fluid a { color:#7A6000 }
.container-fluid a:hover { color:#D2A500 }

.user-list { margin:0; padding:0; list-style:none }
.user-list li { display:inline-block; margin-bottom:10px; text-transform:capitalize; cursor:pointer }
.user-list li:hover {}
.user-list li.active {}

.message-list { margin:0; padding:0; list-style:none }
.message-list li { margin:10px 0; padding:10px; background:#EEE; border:1px solid #DDD; border-radius:3px }
.message-list li strong { text-transform:capitalize }

.twitter-feed { margin:0; padding:0; list-style:none }
.twitter-feed li { margin:10px 0; padding:10px; background:#EEE; border:1px solid #DDD; border-radius:3px }
.twitter-feed li .avatar { display:inline-block; vertical-align:top; padding:3px; background:#FFF; border:1px solid #E1E1E1; border-radius:2px }
.twitter-feed li .avatar img { width:40px }
.twitter-feed li .name { display:inline-block; vertical-align:top }
.twitter-feed li .name span { display:block; color:#999; font-size:11px }
.twitter-feed li .text { margin-top:5px }
.twitter-feed li .text .retweet { display:inline-block; height:16px; margin:5px 5px 0 0; padding-left:20px; background:url(/Content/images/retweet.png) left no-repeat }

.loading { display:none }

.help-block { margin-top:9px }

#LoadingModal { position:absolute; top:0; left:0; width:100%; height:100%; background:#333 }
#LoadingModal #Animation { width:128px; height:100%; margin:0 auto 0; background:url(/Content/images/loading-white.gif) 30% no-repeat }